<html lang="">
<head>
  <title>Health</title>
</head>
<body>
{{template "navigator"}}
<div class="page">
  <h1>Сторінка "Здоров'я"</h1>
  <div>
    <table>
      <tr>
        <th>Звички</th>
        <th>Шкала</th>
      </tr>
      <tr>
        <td>Режим, сон, позитив</td>
        <td><input type="range" min="0" max="100"></td>
      </tr>
      <tr>
        <td>Збалансований раціон</td>
        <td><input type="range" min="0" max="100"></td>
      </tr>
      <tr>
        <td>Обмежити цукор</td>
        <td><input type="range" min="0" max="100"></td>
      </tr>
      </table>
  </div>
</div>
</body>
</html>
