<html lang="">
<head>
  <title>Health</title>
</head>
<body>
{{template "navigator"}}
<div class="page">
  <h1>Сторінка "Здоров'я"</h1>
  <div>
    <table>
      <tr>
        <th>Звички</th>
        <th>Шкала</th>
      </tr>
      {{range $item := .}}
      <tr>
        <td>{{$item.Name}}</td>
        <td><label>
          <input type="range" min="0" max="100" onchange="updateScale({{$item.Name}}, this.value)" value={{$item.Scale}}>
        </label></td>
      </tr>
      {{end}}
    </table>
  </div>
</div>
<script>
  function updateScale(habit, scale) {
    // Виконати запит до сервера з використанням AJAX або Fetch API
    fetch('/health/habits?habit=' + habit + '&scale=' + scale, {
      method: 'POST'
    })
            .then()
            .catch(error => {
              console.error('Помилка при виконанні запиту:', error);
            });
  }
</script>
</body>
</html>
