<html lang="">
<head>
  <title>Wishlist</title>
</head>
<style>
  .with_table {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
  }
</style>
<body>
{{template "navigator"}}
<div class="page">
  <h1>Сторінка "Wishlist"</h1>
  <div>
    <div id="wishlist" class="with_table">
<!--      <div>-->
        <div>Priority</div>
        <div>Wish</div>
        <div>Description</div>
        <div>Link</div>
<!--      </div>-->
      {{range $item := .}}
<!--      <div>-->
        <div>{{$item.Priority}}</div>
        <div>{{$item.Wish}}</div>
        <div>{{$item.Description}}</div>
        <div><a href="{{$item.Link}}">Link</a></div>
<!--      </div>-->
      {{end}}
    </div>
    <div class="with_table">
        <div><label for="priority"></label><input type="text" id="priority"></div>
        <div><label for="wish"></label><input type="text" id="wish"></div>
        <div><label for="description"></label><input type="text" id="description"></div>
        <div><label for="link"></label><input type="text" id="link"></div>
    </div>
    <div>
      <div><input type="submit" value="Додати" onclick="addWish()"></div>
    </div>
  </div>
</div>
<script>
  function addWish() {
    const priority = document.getElementById("priority").value;
    const wish = document.getElementById("wish").value;
    const description = document.getElementById("description").value;
    const link = document.getElementById("link").value;

    fetch('/wishlist/wishes?priority=' + priority + '&wish=' + wish + '&description=' + description + '&link=' + link, {
      method: 'POST'
    })
            .then(() => {
                const wishTable = document.getElementById("wishlist");

                let row = document.createElement('tr')

                row.innerHTML = `
                    <div>${priority}</div>
                    <div>${wish}</div>
                    <div>${description}</div>
                    <div><a href="${link}">${link}</a></div>`

              wishTable.appendChild(row)
            })
            .catch(error => {
              console.error('Помилка при виконанні запиту:', error);
            });
  }
</script>
</body>
</html>
